body {
  align-items: center;
  background-color: #2e2e2e;
  color: rgb(22, 20, 20);
  display: flex;
  height: 100vh;
  justify-content: center;
}

form {
  background-color: #393939;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

label {
  align-items: center;
  color: white;
  display: flex;
  margin-bottom: 30px;
  margin-right: 10px;
  width: auto;
}

.input-email , .input-password {
  background-color: #2e2e2e;
  border: none;
  border-radius: 4px;
  color: white;
  margin-bottom: auto;
  margin-left: 5px;
  margin-top: auto;
  padding: 8px;
  width: 100%;
}

.button-submit {
  align-self: center;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
}

.button-submit:disabled {
  background-color: #8c8c8c;
  cursor: not-allowed;
}

.button-submit:not( :disabled ):hover {
  background-color: #0069d9;
}
