.header-container {
  align-items: center;
  background-color: silver;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 70px;
  left: 0;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container > div {
  flex-basis: 50%;
  text-align: center;
}

.WalletForm {
  margin-top: 70px;
}
