table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}

th , td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

td {
  color: white;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #323f23;
}

button {
  background-color: #ddd;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}

button:hover {
  background-color: #bbb;
}
